{% extends '::frontend.html.twig' %}

{#% block content_right %}
  {% include 'PortalBundle:News:right.html.twig' %}
{% endblock %#}

{% block content %}
{% spaceless %}

<h1>Crear Campaña</h1>
<p>Pellentesque aliquam varius luctus. Sed accumsan in justo sed venenatis! Morbi non elit at lectus dignissim consequat sit amet vel ligula. In at elementum justo. In hac habitasse platea dictumst. Aenean eu risus vitae tortor lacinia viverra. Pellentesque tincidunt elit at neque congue; ac malesuada sem malesuada. Suspendisse feugiat hendrerit vulputate. Morbi pharetra sapien orci, a varius mi ultrices nec. Pellentesque nec lorem vitae diam tincidunt dapibus in quis tortor. Nunc a magna velit. Sed ante enim, tincidunt at molestie et, rhoncus et libero. Curabitur convallis tellus et lacus scelerisque; at suscipit arcu lobortis?</p>

{% if not is_granted('ROLE_USER') %}
<a data-target="#modal" data-toggle="modal" href="#{{ path('portal_ads_create') }}">Crear Campaña</a>
{% else %}
<a href="{{ path('portal_ads_create') }}">Crear Campaña</a>
{% endif %}
{% endspaceless %}
{% endblock %}
